:root{
  --mainColor:rgb(255, 115, 0);
  --titleColor:rgb(75, 75, 75);
  --contentColor:rgb(119, 119, 119);
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
  display: flex;
 flex-direction: column;
 align-items: center;
  margin: 50px auto;
  max-width: 1300px;
}

.main-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title h1{
  text-transform: uppercase;
  color: var(--mainColor);
  margin: 0;
}

.main-title h2{
  margin: 10px 0 0 0;
  font-size: 18px;
  font-weight: normal;
  color: gray;
}

.underline{
  margin-top: 20px;
  background-color: var(--mainColor);
  height: 5px;
  width: 100px;
}

.card-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 25px;
  margin-top: 50px;
}
.card{
  display: flex;
  gap: 15px;
}

.card .card-content h3{
  margin: 0;
  color: var(--titleColor);
}

.card .card-content p{
  color: var(--contentColor);
  line-height:1.7;
}

.card .card-content a{
  color: var(--mainColor);
  text-decoration: none;
  font-size: 17px;
}


.fa{
  font-size: 50px;
  color: var(--mainColor);
}