:root{
  --mainColor:rgb(255, 115, 0);
  --titleColor:rgb(75, 75, 75);
  --contentColor:rgb(119, 119, 119);
  --contactColor:rgb(68, 68, 68);
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*                                                    Page1 */
.main-container{
  display: flex;
 flex-direction: column;
 align-items: center;
  margin: 50px auto;
  max-width: 1300px;
}

.main-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title h1{
  font-size: 37px;
  text-transform: uppercase;
  color: var(--mainColor);
  margin: 0;
}

.main-title h2{
  margin: 10px 0 0 0;
  font-size: 18px;
  font-weight: normal;
  color: gray;
}

.underline{
  margin-top: 20px;
  background-color: var(--mainColor);
  height: 3px;
  width: 100px;
}

.card-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 25px;
  margin-top: 50px;
}
.card{
  padding: 20px;
  display: flex;
  gap: 15px;
}

.card .card-content h3{
  margin: 0;
  color: var(--titleColor);
}

.card .card-content p{
  color: var(--contentColor);
  line-height:1.7;
}

.card .card-content a{
  color: var(--mainColor);
  text-decoration: none;
  font-size: 17px;
}


.fa{
  font-size: 50px;
  color: var(--mainColor);
}

/*                                                        Page2 */

.container{
  max-width: 1300px;
  margin: 50px auto;
}

.btn{
  background-color: var(--mainColor);
  color: snow;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
}

input, textarea{
  font-size: 17px;
  padding: 13px 5px;
  border: 1px solid lightgray;

}

.input p{
  color: var(--titleColor);
  margin-bottom: 12px;
  font-size: 17px;
}

.wide{
  width: 100%;
}

.contact-info{
  padding: 20px;
}

.info h3{
  font-size: 18px;
  color: var(--contactColor);
}

.info p{
color: var(--contentColor);
}

.info.text-color p{
  color:var(--mainColor);
}

.more-info{
  padding: 20px;
}

.more-info h3{
  color: var(--contactColor);
  font-weight: normal;
  font-size: 23px;
  margin-bottom: 0px;
}

.more-info p{
  color: var(--contentColor);
  font-size: 17px;
  font-weight: normal;
}

.contact-us-content{
  display: flex;
  gap: 50px;
}

.form-container{
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
padding: 25px;
}

form{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.input{
  width: 100%;
}
.input.name{
width: 48%;
}